.maincontainer{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 25px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.mcolor{
    background: #2E4868;
    color: #fff;
}
.scolor{
    background: #5EC3F7;
}
.rounded{
    border-radius: 5px;
}
.title{
    padding: 10px 0 0 40px;
}
.desc{
    padding: 20px 0 0 20px;
}
.btnselected{
    
}
.button:hover {
    background-color: #2BB2DD;
    color: #fff;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.nopass{
    padding-left: 40px;
    padding-top: 10px;
}