// layout
body,
html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: @cont-padding;
  padding-right: @cont-padding;
  @media screen and (max-width: @screen-sm) {
    padding-left: @cont-padding-lg;
    padding-right: @cont-padding-lg;
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

// footer
footer {
  background-color: @ether-navy;
  color: white;
  margin-top: 100px;
  p {
    margin: 10px 0;
  }
  a {
    color: #4ac8ed;
    &:hover,
    &:focus {
      color: darken(#4ac8ed, 5%);
    }
  }
  .modal,
  .modal p {
    color: @text-color;
  }
}

// anouncement bars
.announcement {
  padding: 3px 10px;
  text-align: center;
  font-weight: 300;
  color: white;
  display: block;
  background-color: @brand-primary;
  a {
    text-decoration: underline;
    color: white;
    transition: 250ms all ease;
  }
  &:hover,
  &:focus {
    transition: 250ms all ease;
    color: darken(white, 5%);
    text-decoration: none;
    background-color: darken(@brand-primary, 5%);
  }
  strong {
    font-weight: 400;
  }
}

.annoucement-warning {
  background-color: @brand-danger;
  &:hover,
  &:focus {
    background-color: darken(@brand-danger, 5%);
    a, a:hover {
      text-decoration: none;
    }
  }
}

.annoucement-danger {
  background-color: @brand-danger;
  a:hover,
  a:focus {
    color: darken(white, 5%);
    a, a:hover {
      text-decoration: none;
    }
  }
}

// address icenticons
.address-identicon-container {
  padding-left: 0;
  padding-top: @space-md;
  text-align: left;
  @media screen and (max-width: @grid-float-breakpoint) {
    padding-left: @space-lg;
    padding-right: @space-lg;
    padding-top: 0;
  }
}

.address-identicon-container-right {
  padding-right: 0;
  padding-top: @space-md;
  text-align: right;
  .addressIdenticon { float: right; }
  @media screen and (max-width: @grid-float-breakpoint) {
    padding-left: @space-lg;
    padding-right: @space-lg;
    padding-top: 0;
  }
}

.address-identicon-container-offline {
  padding: 0;
  margin-left: -15px;
}

.addressIdenticon {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.6) 0 -1px 8px;
}

.addressIdenticon.med {
  width: 3rem;
  height: 3rem;
}
.addressIdenticon.small {
  width: 2rem;
  height: 2rem;
}

.addressIdenticon.inline {
  display: inline-block;
}

.addressIdenticon.float {
  float: left;
  margin-right: @space-sm;
}

// helpers
.wrap {
  word-wrap: break-word;
}

.bigger-on-mobile.form-control[readonly] {
  height: 60px;
  @media screen and (max-width: 767px) {
    height: 100px;
  }
}

// help page
#paneHelp {
  h3 {
    margin-top: 2em;
  }
}

.account-help-icon {
  h3, h4, h5, h6, img {
    display: inline-block;
  }
  img:hover + .account-help-text {
    display: block;
  }
  img {
    margin-left: -30px;
    margin-right: 3px;
  }
}

.account-help-text {
  background: white;
  border-radius: @border-radius;
  border: 1px solid #CDCDCD;
  box-shadow: 0 0 @space-sm rgba(100, 100, 100, .2);
  display: none;
  font-size: @font-size-xs;
  font-weight: 400;
  padding: @space-xs;
  position: absolute;;
  width: 18rem;
  z-index: 999;
  ul& {
    padding-left: 1.6rem;
  }
  li {
    font-size: @font-size-xs;
    font-weight: 400;
  }
}



@media screen and (max-width:767px) {
  .account-help-icon li,
  .account-help-icon img,
  .account-help-icon p, {
    display: none;
  }
}

// monospace things
.mono,
.form-control,
#accountAddress,
#accountBalance,
#accountBalanceUsd,
#accountBalanceEur,
#accountBalanceBtc,
#accountBalancePopMB-0,
#accountBalancePopMB-2,
#accountAddressMainTbl-1 {
  font-family: @font-family-monospace;
  font-weight: normal;
  letter-spacing: .02em;
}

// QR Code on Offline Transactions Page
.offline-qrcode {
  margin-top: -150px;
  max-width: 300px;
  @media screen and (max-width: 942px) {
    margin-top: -78px;
  }
  @media screen and (max-width: 769px) {
    margin-top: 0;
  }
}

.account-info {
  .clearfix;
  padding-left: 1em;
  margin: 0;
  li {
    margin-bottom: 0;
    list-style-type: none;
    word-break: break-all;
  }
  table& {
    font-weight: 200;
    border-bottom: 0;
    min-width: 200px;
    td {
      padding: 4px 5px;
      line-height: 1;
    }
    td:first-child {
      max-width: 115px;
      word-wrap: break-word;
      padding-left: 1em;
    }
    tr:nth-child(even) {
      background-color: @gray-lightest;
    }
    tr:nth-last-child(2),
    tr:last-child {
      background-color: white!important;
    }
  }
}

input[type="text"]+.eye {
  cursor: pointer;
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon-eye.svg");
  }
}

input[type="password"]+.eye {
  cursor: pointer;
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon-eye-closed.svg");
  }
}


// collapsable containers
.collapse-container {
  h2, h4 {
    cursor: pointer;
  }
  .collapse-button {
    float: left;
    font-weight: 500;
    user-select: none;
    padding: 10px;
    margin: -10px -35px;
    font-size: 24px;
    line-height: 1.6;
  }
}


// help collapsable containers
.help .collapse-container {
  margin: 40px 0;
  .collapse-button {
    margin: -10px -30px;
    font-size: 20px;
    line-height: 1;
  }
}

// little x image next to custom tokens
.token-remove {
  width: @font-size-small;
  height: @font-size-small;
  position: absolute;
  left: 18px;
  cursor: pointer;
}

.node-remove {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 6px;
  top: 8px;
}

.m-addresses td:first-child {
  max-width: 50px;
  min-widht: 50px;
}

.m-addresses td:last-child {
  text-align: right;
}


.custom-token-fields {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.token-balances {
  margin-bottom: 15px;
}

h2 a.isActive {
  color: #333;
  cursor: default;
  &:hover,
  &:active {
    color: #333;
    cursor: default;
  }
}


.item {
  margin: 6px 0;
}

.output.well {
  padding: @space-sm @space;
  margin-top: -1.5rem;
  p {
    margin: @space-sm 0;
  }
}

label small {
  color: @gray-light
}

.write-address {
  .col-xs-1 {
    padding: 0;
  }
  .col-xs-11 {
    padding-right: 10px;
  }
}

.write-boolean label {
  display: block;
}


.decrypt-drtv {
  padding: @space 0;
  label.radio {
    padding: 0 @space-lg;
  }
}

.exchange-tab {

  .btn-lg {
    margin-top: @space*5;
  }
  .btn svg, .btn img {
    margin-right: @space-sm;
    margin-left: -@space-xs;
    vertical-align: middle;
  }

  .order-info-wrap { margin-bottom: @space*5; }

  .exchange-rates {
    text-align: center;
    .form-control.input-sm {
      width: 16%;
      min-width: 3.5rem;
      display: inline-block;
      margin-right: @space;
      text-align: right;
      background-color: transparent;
      color: white;
      box-shadow: 0 0 0 white;
      border: 0 solid white;
      border-bottom: 2px solid white;
    }
    p {
      margin: 0;
      span { opacity: .9; }
    }
  }

  .exchange-panel {
    padding-top: @space*5;
    text-align: center;
    > * {
      display: inline-block;
      margin: @space-xs @space-sm;
      vertical-align: middle;
    }
    .form-control {
      width: 10rem;
    }
    .dropdown {
      margin-left: 0;
    }
  }

  .exchange-start {
    text-align: center;
    .exchange-info {
      text-align: left;
      margin-bottom: @space*5;
    }
  }

  .exchange-order {
    text-align: left;
    h1 {
      margin-bottom: @space*2;
    }
  }

  .order-info {
    .clearfix;
    text-align: center;
    padding: @space 0;
    color: white;
    h3,h4,p {  margin: 0;  }
    &:nth-child(4n+1) { background-color: #175575;  }
    &:nth-child(4n+2) { background-color: #1e92ba;  }
    &:nth-child(4n+3) { background-color: #143955;  }
    &:nth-child(4n+4) { background-color: #19b3ae;  }
  }

  .collapse-container {
    h5 {  display: inline-block;  }
    .collapse-button {
      float: none;
      margin: 0;
    }
  }
}


@circle-width: 4rem;
@circle-width-phone: 3rem;
@progress-breakpoint: 675px;
.exchange-progress {
  margin-top: @space*2;
  margin-bottom: @space*4;
  position: relative;
  .sep {
    position: absolute;
    top: 3.5rem;
    left: @cont-padding-lg;
    right: @cont-padding-lg;
    height: .25rem;
    background-color: @gray-lighter;
    @media screen and (max-width: @progress-breakpoint) {
      display: none;
    }
  }
  .clearfix();
  .progress-item {
    width: 20%;
    float: left;
    text-align: center;
    margin: .25rem 0;
    @media screen and (max-width: @progress-breakpoint) { width: 100%; }
    &:nth-child(4n+1) .progress-circle { border-color: fadeout(#1e92ba, 60%); color:fadeout(#1e92ba, 60%); }
    &:nth-child(4n+2) .progress-circle { border-color: fadeout(#175575, 60%); color:fadeout(#175575, 60%); }
    &:nth-child(4n+3) .progress-circle { border-color: fadeout(#19b3ae, 60%); color:fadeout(#19b3ae, 60%); }
    &:nth-child(4n+4) .progress-circle { border-color: fadeout(#143955, 60%); color:fadeout(#143955, 60%); }
   .progress-circle {
      border-radius: 50%;
      border-width: @space-xs;
      border-style: solid;
      box-sizing: content-box;
      margin: @space auto;
      padding-bottom: @circle-width;
      position: relative;
      width: @circle-width;
      background: white;
      @media screen and (max-width: @progress-breakpoint) {
        margin: @space-xs @space @space-xs @space*2;
        padding-bottom: @circle-width-phone;
        width: @circle-width-phone;
        float: left;
      }
      i {
        font-size: @space*1.5;
        line-height: @space*1.75;
        height: @space*1.75;
        width: @space*1.75;
        font-weight: 900;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: @progress-breakpoint) {
          font-size: @space*1.5;
          line-height: @space*1.5;
          height: @space*1.5;
          width: @space*1.5;
        }
      }
    }


    p {
      font-size: @font-size-small;
      font-weight: 600;
      text-transform: uppercase;
      color: fadeout(lighten(@gray, 10%), 50%);
      letter-spacing: .1em;
      @media screen and (max-width: @progress-breakpoint) {
        line-height: 4rem;
        margin: 0;
        text-align: left;
      }
    }


    &.progress-active {
      p { color: lighten(@gray, 10%); }
    }
    &.progress-active:nth-child(4n+1) .progress-circle { border-color: #1e92ba; color:#1e92ba; }
    &.progress-active:nth-child(4n+2) .progress-circle { border-color: #175575; color:#175575; }
    &.progress-active:nth-child(4n+3) .progress-circle { border-color: #19b3ae; color:#19b3ae; }
    &.progress-active:nth-child(4n+4) .progress-circle { border-color: #143955; color:#143955; }


    &.progress-true {
      .progress-circle {
        background-color: @brand-success;
        border-color: @brand-success;
        box-shadow: inset 0px 0px 0px 5px white;
        i {
          background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20426.67%20426.67%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M153.504%20366.839c-8.657%200-17.323-3.302-23.927-9.911L9.914%20237.265c-13.218-13.218-13.218-34.645%200-47.863%2013.218-13.218%2034.645-13.218%2047.863%200l95.727%2095.727%20215.39-215.386c13.218-13.214%2034.65-13.218%2047.859%200%2013.222%2013.218%2013.222%2034.65%200%2047.863L177.436%20356.928c-6.609%206.605-15.271%209.911-23.932%209.911z%22%20fill%3D%22%23ffffff%22/%3E%3C/svg%3E);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          font-size: 0;
        }
      }
      p { color: @brand-success; }
    }
  }
}






.qr-code {
  max-width: 17rem;
  margin: auto;
}

.contracts h4 + .dropdown,
.contracts h4 + .dropdown .btn {
  margin-top: 0;
}

.view-wallet-content {
  @media screen and (min-width: @grid-float-breakpoint) {
    padding-left: @space*3;
  }
  h5 {
    margin-bottom: 0;
  }
  a.isActive { color: @text-color; }
}
