#etherWalletPopUp {
  padding: 10px;
  position: relative;
  min-width: 346px;

  .back-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

.quicksend-address {
  font-family: @font-family-monospace;
  max-width: 170px;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

.chrome-tokens span {
  display: inline-block;
}
