<%= header %>

  <!-- navtabs -->
  <section class="container" ng-controller='tabsCtrl'>
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in tabNames track by $index" ng-class="{active: $index==activeTab}" ng-click="tabClick($index)"> <a>{{tab.name}}</a></li>
    </ul>
  </section>
  <br />

  <section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <!-- tab panes -->

    <div class="tab-content" >

      <%= generateWallet %>

      <%= viewWalletInfo %>

      <%= sendTransaction %>

      <%= offlineTransaction %>

      <%= contracts %>

      <%= slockitDAO %>

      <%= digix %>

      <%= help %>

      <%= print %>

      <%= bulkGenerate %>

    </div>

    <!-- /tab panes -->

  </section>

  <%= footer %>
