  #etherWalletPopUp {
    padding: 5px 10px;
    height: 200px;
    width: 350px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
  }

  #etherWalletPopUp .settings-icon {
    position: absolute;
    right: 5px;
    top: 5px;
  }
