@@include( '../includes/header.tpl', { "site": "mew" } )
<section class="container contest-container">
  <h2>MEW 100K Followers Contest Official Rules</h2>
  <p>NO PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE DOES NOT INCREASE THE CHANCES OF WINNING.</p>
  <ol type="1" class="contest-content">
    <li>
      Eligibility: This Campaign is open only to those who complete
      the contest requirements and who send an email containing the name, email,
      telephone, city and country of residence, along with a link to their video
      or blog post to <a href="mailto:contests@myetherwallet.com">contests@myetherwallet.com</a>
      and who are 21 years or older as of the date of entry.The Campaign is only open to legal residents of to
      all countries, and is void where prohibited by law. Employees of MyEtherWallet
      Inc, its affiliates, subsidiaries, advertising and promotion agencies, and suppliers,
      (collectively the “Employees”), and immediate family members and/or those
      living in the same household of Employees are not eligible to participate
      in the Campaign. The Campaign is subject to all applicable federal, state,
      and local laws and regulations. Void where prohibited.
    </li>
    <li>
      Agreement to Rules: By participating, the Contestant (“You”) agree to be
      fully unconditionally bound by these Rules, and You represent and warrant
      that You meet the eligibility requirements. In addition, You agree to
      accept the decisions of MyEtherWallet, Inc as final and binding as it
      relates to the content of this Campaign.
    </li>
    <li>
      Campaign Period: Entries will be accepted online starting on April 12 at
      12:01am PDT and ending on May 31, 2018 at 11:59pm. MyEtherWallet Inc reserves
      the right to extend this date for whatever reason.
    </li>
    <li>
      How to Enter: The Campaign must be entered by submitting an email
      containing the name, email, telephone, city and country of residence,
      along with a link to their video or blog post to <a href="mailto:contests@myetherwallet.com">contests@myetherwallet.com</a> .
      The entry must fulfill all Campaign requirements, as specified, to be
      eligible to win a prize. Entries that are incomplete or do not adhere to
      the rules or specifications may be disqualified at the sole discretion of
      MyEtherWallet Inc. Optional verbiage to include: You may enter only once.
      You must provide the information requested. You may not enter more times
      than indicated by using multiple email addresses, identities, or devices
      in an attempt to circumvent the rules. If you use fraudulent methods or
      otherwise attempt to circumvent the rules, your submission may be removed
      from eligibility at the sole discretion of MyEtherWallet Inc.
    </li>
    <li>
      Prizes: The Winner(s) of the Campaign (the “Winner”) will receive First,
      Second & Third Prize: Macbook Pro, or MS Surface Pro + top 25 prizes
      (approx $2600 value); Top 25: Ledger Hardware wallet w/MEW Gear Pack;
      Next 25: MEW Premium Gear Pack; Bottom 25: Standard MEW Gear Pack.
      Actual/appraised value may differ at time of prize award. The specifics
      of the prize shall be solely determined by MyEtherWallet Inc.  No cash or
      other prize substitution shall be permitted except at MyEtherWallet Inc’s
      discretion. The prize is non-transferable. Any and all prize-related
      expenses, including without limitation any and all federal, state, and/or
      local taxes, shall be the sole responsibility of Winner. No substitution
      of prize or transfer/assignment of prize to others or request for the cash
      equivalent by Winner is permitted. Acceptance of prize constitutes permission
      for MyEtherWallet, Inc to use Winner’s name, likeness, and entry for
      purposes of advertising and trade without further compensation, unless prohibited by law.
    </li>
    <li>
      Odds: The odds of winning depend on the number of eligible entries received.
    </li>
    <li>
      Winner Selection and Notification: Winner will be selected by judges
      chosen at the discretion of MyEtherWallet Inc. Winners will be judged
      based on merit in the areas of educational content, clarity, entertainment
      value, and formal elements. Winner will be notified by email within five
      (5) days following selection of Winner. MyEtherWallet, Inc shall have no
      liability for Winner’s failure to receive notices due to spam, junk e-mail
      or other security settings or for Winner’s provision of incorrect or
      otherwise non-functioning contact information. If Winner cannot be
      contacted, is ineligible, fails to claim the prize within 5 days  from the
      time award notification was sent, or fails to timely return a completed
      and executed declaration and release as required, the prize may be forfeited
      and an alternate Winner selected. Should fewer than 100 entries be received,
      entrants will be evaluated on the criteria outlined in the contest announcement
      and these Official Rules, and prizes will be limited to only those entrants.
      Receipt by Winner of the prize offered in
      this Campaign is conditioned upon compliance with any and all federal, state,
      and local laws and regulations. ANY VIOLATION OF THESE OFFICIAL RULES BY WINNER
      (AT MYETHERWALLET’S  SOLE DISCRETION) WILL RESULT IN WINNER’S DISQUALIFICATION AS
      WINNER OF THE CAMPAIGN, AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY TERMINATED.
    </li>
    <li>
      Rights Granted by You: By entering this content (e.g., photo, video, text, etc.),
      You understand and agree that MyEtherWallet, Inc , anyone acting on behalf of
      MyEtherWallet, Inc, andMyEtherWallet, Inc’s  licensees, successors, and assigns,
      shall have the right, where permitted by law, to print, publish, broadcast,
      distribute, and use in any media now known or hereafter developed, in perpetuity
      and throughout the World, without limitation, your entry, name, portrait,
      picture, voice, likeness, image, statements about the Campaign, and biographical
      information for news, publicity, information, trade, advertising, public relations,
      and promotional purposes. without any further compensation, notice, review,
      or consent. By entering this contest, You
      represent and warrant that your entry is an original work of authorship,
      and does not violate any third party’s proprietary or intellectual property
      rights. If your entry infringes upon the intellectual property right of
      another, You will be disqualified at the sole discretion of MyEtherWallet,
      Inc . If the content of your entry is claimed to constitute infringement of
      any proprietary or intellectual proprietary rights of any third party, you
      shall, at your sole expense, defend or settle against such claims. You shall
      indemnify, defend, and hold harmless MyEtherWallet, Inc from and against any
      suit, proceeding, claims, liability, loss, damage, costs or expense, which
      MyEtherWallet, Inc  may incur, suffer, or be required to pay arising out of
      such infringement or suspected infringement of any third party’s right.
    </li>
    <li>
      Terms & Conditions: MyEtherWallet, Inc reserves the right, in its sole
      discretion, to cancel, terminate, modify or suspend the Campaign should
      virus, bug, non-authorized human intervention, fraud, or other cause beyond
      MyEtherWallet’s  control corrupt or affect the administration, security,
      fairness, or proper conduct of the Campaign. In such case, MyEtherWallet, Inc
      may select the Winner from all eligible entries received prior to and/or
      after (if appropriate) the action taken by MyEtherWallet, Inc.MyEtherWallet, Inc
      reserves the right, in its sole discretion, to disqualify any individual who
      tampers or attempts to tamper with the entry process or the operation of the
      Campaign or website or violates these Terms & Conditions.MyEtherWallet, Inc has
      the right, in its sole discretion, to maintain the integrity of the Campaign, to
      void votes for any reason, including, but not limited to: multiple entries from
      the same user from different IP addresses; multiple entries from the same
      computer in excess of that allowed by Campaign rules; or the use of bots,
      macros, scripts, or other technical means for entering. Any attempt by an
      entrant to deliberately damage any website or undermine the legitimate
      operation of the Campaign may be a violation of criminal and civil laws.
      Should such attempt be made,MyEtherWallet, Inc reserves the right to seek
      damages to the fullest extent permitted by law.
    </li>
    <li>
      Limitation of Liability: By entering, You agree to release and hold
      harmless MyEtherWallet, Inc and its subsidiaries, affiliates,
      advertising and promotion agencies, partners, representatives,
      agents, successors, assigns, employees, officers, and directors from any
      liability, illness, injury, death, loss, litigation, claim, or damage that
      may occur, directly or indirectly, whether caused by negligence or not,
      from: (i) such entrant’s participation in the Campaign and/or his/her
      acceptance, possession, use, or misuse of any prize or any portion thereof;
      (ii) technical failures of any kind, including but not limited to the
      malfunction of any computer, cable, network, hardware, or software, or
      other mechanical equipment; (iii) the unavailability or inaccessibility
      of any transmissions, telephone, or Internet service; (iv) unauthorized
      human intervention in any part of the entry process or the Promotion; (v)
      electronic or human error in the administration of the Promotion or the
      processing of entries.
    </li>
    <li>
      Disputes: THIS Campaign IS GOVERNED BY THE LAWS OF the United States of
      America  AND the State of California,
      WITHOUT RESPECT TO CONFLICT OF LAW  DOCTRINES. As a condition of participating in this Campaign, participant
      agrees that any and all disputes that cannot be resolved between the parties,
      and causes of action arising out of or connected with this Campaign, shall
      be resolved individually, without resort to any form of class action,
      exclusively before a court located in the State of California having
      jurisdiction. Further, in any such dispute, under no circumstances shall
      participant be permitted to obtain awards for, and hereby waives all rights
      to, punitive, incidental, or consequential damages, including reasonable
      attorney’s fees, other than participant’s actual out-of-pocket expenses
      (i.e. costs associated with entering this Campaign). Participant further
      waives all rights to have damages multiplied or increased.
    </li>
    <li>
      Privacy Policy: Personal information of entrants will only be used for the
      purposes of identifying and contacting the winners, as well as used as
      necessary for the awarding of prizes. Personal information will not be
      distributed to third parties, except as necessary to fulfill these
      objectives. MyEtherWallet, Inc may use this information to contact
      entrants concerning other opportunities for content creation. Entrants may
      opt out of being contacted for purposes other than of the contest by
      sending a request in writing to <a href="mailto:contests@myetherwallet.com">contests@myetherwallet.com</a>.
    </li>
    <li>
       Winners List: To obtain a copy of the Winner’s name or a copy of these
       Official Rules, mail your request along with a stamped, self-addressed
       envelope to:MyEtherWallet, Inc 724 S. Spring St.,STE 1104, Los Angeles,
       CA 90014. Requests must be received no later than June 30, 2018, 5:00pm PDT
    </li>
    <li>
      Sponsor: The Sponsor of the Campaign is MyEtherWallet, Inc
      724 S. Spring St.,STE 1104, Los Angeles, CA 90014.
    </li>
    <li>
      Social Media:The Campaign hosted by MyEtherWallet, Inc is in no way
      sponsored, endorsed, administered by, or associated with Twitter,
      Facebook, Medium, or any other social media service employed for the
      purposes of promoting or distributing information concerning this contest.
    </li>
    <li>
      By submitting an entry, You, the Entrant, have affirmatively reviewed,
      accepted, and agreed to all of the Official Rules.
    </li>
  </ol>
</section>
@@include( '../includes/footer.tpl', { "site": "mew" } )
