@@include( '../includes/header.tpl', { "site": "cx" } )

<section class="container" ng-controller='tabsCtrl'>
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in tabNames track by $index" ng-class="{active: $index==activeTab}" ng-show="{{tab.cx}}" ng-click="tabClick($index)"> <a>{{tab.name | translate}}</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{curLang}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a ng-click="changeLanguage('bg','Bulgarian')">Bulgarian</a></li>
        <li><a ng-click="changeLanguage('de','Deutsche')">Deutsche</a></li>
        <li><a ng-click="changeLanguage('el','Greek')">Greek</a></li>
        <li><a ng-click="changeLanguage('en','English')">English</a></li>
        <li><a ng-click="changeLanguage('es','Español')">Español</a></li>
        <li><a ng-click="changeLanguage('et','Estonian')">Estonian</a></li>
        <li><a ng-click="changeLanguage('fr','Français')">Français</a></li>
        <li><a ng-click="changeLanguage('he','Hebrew')">Hebrew</a></li>
        <li><a ng-click="changeLanguage('id','Indonesian')">Indonesian</a></li>
        <li><a ng-click="changeLanguage('it','Italian')">Italian</a></li>
        <li><a ng-click="changeLanguage('ko','Korean')">Korean</a></li>
        <li><a ng-click="changeLanguage('nl','Dutch')">Dutch</a></li>
        <li><a ng-click="changeLanguage('no','Norwegian')">Norwegian</a></li>
        <li><a ng-click="changeLanguage('pt','Portuguese')">Portuguese</a></li>
        <li><a ng-click="changeLanguage('ru','Russian')">Russian</a></li>
        <li><a ng-click="changeLanguage('sk','Slovak')">Slovak</a></li>
        <li><a ng-click="changeLanguage('sl','Slovenian')">Slovenian</a></li>
        <li><a ng-click="changeLanguage('sv','Swedish')">Swedish</a></li>
        <li><a ng-click="changeLanguage('uk','Ukrainian')">Ukrainian</a></li>
        <li><a ng-click="changeLanguage('vi','Vietnamese')">Vietnamese</a></li>
      </ul>
    </li>
  </ul>
</section>
<br />

<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    @@include( '../includes/myWallet.tpl', { "site": "cx" } )

    @@include( '../includes/addWallet.tpl', { "site": "cx" } )

    @@include( '../includes/sendTransaction.tpl', { "site": "cx" } )

    @@include( '../includes/offlineTransaction.tpl', { "site": "cx" } )

    @@include( '../includes/tokens.tpl', { "site": "cx" } )

    @@include( '../includes/dao.tpl', { "site": "cx" } )

    @@include( '../includes/digix.tpl', { "site": "cx" } )

    @@include( '../includes/help.tpl', { "site": "cx" } )

    @@include( '../includes/print.tpl', { "site": "cx" } )

  </div>

</section>

@@include( '../includes/footer.tpl', { "site": "cx" } )
