@@include( '../includes/header.tpl', { "site": "cx" } )

<br />

<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    @@include( '../includes/myWallet.tpl',           { "site": "cx" } )

    @@include( '../includes/addWallet.tpl',          { "site": "cx" } )

    @@include( '../includes/sendTx.tpl',             { "site": "cx" } )

    @@include( '../includes/swap.tpl',               { "site": "cx" } )

    @@include( '../includes/offlineTx.tpl',          { "site": "cx" } )

    @@include( '../includes/contracts.tpl',          { "site": "cx" } )

    @@include( '../includes/ens.tpl',                { "site": "cx" } )

    @@include( '../includes/domainsale.tpl',         { "site": "cx" } )

    @@include( '../includes/txStatus.tpl',           { "site": "cx" } )

    @@include( '../includes/print.tpl',              { "site": "cx" } )

  </div>

  @@include('../includes/alerts.tpl')

</section>

@@include( '../includes/footer.tpl', { "site": "cx" } )
