@@include( '../includes/headerEmbedded.tpl', { "site": "mew" } )

  <section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <!-- tab panes -->

    <div class="tab-content" >

      @@include( '../includes/generateWallet.tpl', { "site": "mew" } )

    </div>

    <!-- /tab panes -->
  <article class="alert popup {{notifier.class}} animated-show-hide" ng-show="notifier.show">
    <div class="container" ng-bind-html="notifier.message"></div>
    <i class="icon-close" ng-click="notifier.close()"></i>
  </article>

  </section>


@@include( '../includes/footerEmbedded.tpl', { "site": "mew" } )
