<!--email_off-->
@@include( '../includes/header.tpl', { "site": "mew" } )

<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    @@include( '../includes/generateWallet.tpl',     { "site": "mew" } )

    @@include( '../includes/sendTx.tpl',             { "site": "mew" } )

    @@include( '../includes/swap.tpl',               { "site": "mew" } )

    @@include( '../includes/offlineTx.tpl',          { "site": "mew" } )

    @@include( '../includes/contracts.tpl',          { "site": "mew" } )

    @@include( '../includes/ens.tpl',                { "site": "mew" } )

    @@include( '../includes/domainsale.tpl',         { "site": "mew" } )

    @@include( '../includes/viewWalletInfo.tpl',     { "site": "mew" } )

    @@include( '../includes/txStatus.tpl',           { "site": "mew" } )

    @@include( '../includes/bulkGenerate.tpl',       { "site": "mew" } )

    @@include( '../includes/print.tpl',              { "site": "mew" } )

  </div>


  @@include('../includes/alerts.tpl')

</section>

@@include( '../includes/footer.tpl', { "site": "mew" } )
<!--/email_off-->
