@@include( '../includes/header.tpl' )

  <!-- navtabs -->
  <section class="container" ng-controller='tabsCtrl'>
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in tabNames track by $index" ng-class="{active: $index==activeTab}" ng-click="tabClick($index)"> <a>{{tab.name}}</a></li>
    </ul>
  </section>
  <br />

  <section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <!-- tab panes -->

    <div class="tab-content" >

      @@include( '../includes/generateWallet.tpl' )

      @@include( '../includes/bulkGenerate.tpl' )

      @@include( '../includes/viewWalletInfo.tpl' )

      @@include( '../includes/sendTransaction.tpl' )

      @@include( '../includes/offlineTransaction.tpl' )

      @@include( '../includes/contracts.tpl' )

      @@include( '../includes/thedao.tpl' )

      @@include( '../includes/digix.tpl' )

      @@include( '../includes/help.tpl' )

      @@include( '../includes/print.tpl' )

    </div>

    <!-- /tab panes -->

  </section>

  @@include( '../includes/footer.tpl' )
