@@include( '../includes/header.tpl', { "site": "mew" } )
<section class="container phishing">
  <h1>You've been redirected to safety!</h1>
  <div id="phishingMsg">
  </div>
</section>
<script>
(function() {
  const regex = /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gi;
  const url = globalFuncs.stripTags(window.location.search.replace("?phishing-address=", ""));
  const actualUrl = new URL(url).origin;
  const body = document.getElementById("phishingMsg");
  const fragment = document.createDocumentFragment();
  const newP1 = document.createElement("p");
  const newP2 = document.createElement("p");
  actualUrl.match(regex) !== null ? 
    newP1.innerHTML = `</br></br></br></br></br>
      The url ${actualUrl} has been flagged as a supicious site by the community.
    ` :
    newP1.innerHTML =  `</br></br></br></br></br>
      Unparsable url found.
    `;
  newP2.textContent =`
  Please refrain from going to this site for the mean time.`
  fragment.appendChild(newP1);
  fragment.appendChild(newP2);
  body.appendChild(fragment);
})();
</script>
@@include( '../includes/footer.tpl', { "site": "mew" } )
