@@include( '../includes/headerEmbedded.tpl', { "site": "mew" } )

<section ng-controller="tabsCtrl" ng-cloak>

    <section class="container" style="min-height: 50%" ng-controller='signMsgCtrl'>

        <div class="tab-content">

          <div class="clearfix">
            @@include( '../includes/signMsg.tpl', { "site": "mew" } )
          </div>

          <div class="clearfix col-xs-12" ng-show="visibility=='signView' && wallet==null">
            <wallet-decrypt-drtv></wallet-decrypt-drtv>
          </div>

        </div>

        @@include('../includes/alerts.tpl')

    </section>

</section>

<br /><br /><br /><br /><br />

@@include( '../includes/footerEmbedded.tpl', { "site": "mew" } )
