@@include( '../includes/headerEmbedded.tpl', { "site": "mew" } )
<section ng-controller="tabsCtrl">
    <section class="container" style="min-height: 50%" ng-controller='signMsgCtrl'>
        <!-- tab panes -->
        <div class="tab-content">
            @@include( '../includes/signMsg.tpl', { "site": "mew" } )
          <div ng-show="visibility=='signView' && wallet==null"><wallet-decrypt-drtv></wallet-decrypt-drtv></div>
        </div>
        <!-- /tab panes -->

        @@include('../includes/alerts.tpl')

    </section>
</section>
@@include( '../includes/footerEmbedded.tpl', { "site": "mew" } )
