<%= header %>

<!-- navtabs -->
<section class="container">
  <ul class="nav nav-tabs">
    <li>               <a href="./#generate-wallet">   Generate Wallet   </a></li>
    <li>               <a href="./#bulk-generate">     Bulk Generate     </a></li>
    <li>               <a href="./#send-transaction">  Send Transaction  </a></li>
    <li class="active"><a href="../contract-augur.html"> Augur Crowdsale </a></li>
    <li>               <a href="./#help">              Help              </a></li>
    <li>               <a href="./#contact">           Contact           </a></li>
  </ul>
</section>

<section class="container" style="min-height: 70%">

<h2> Augur Crowdsale </h2>
      <section class="row" id="walletselection">
        <div class="col-md-4 col-sm-6">
          <h4> How would you like to access your wallet to purchase Augur rep? </h4>
          <div class="radio">
            <label><input type="radio" name="typeOfKeyRadio" value="fileupload">Upload your wallet file (Presale/Geth/etherwallet).</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="typeOfKeyRadio" value="pasteprivkey">Paste / type your private key (Encrypted/Unencrypted).</label>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <!-- if selected upload -->
          <div id="selectedUploadKey"  style="display: none;">
            <h4>Select your wallet file : </h4>
            <div class="form-group">
              <p id="file-text"></p>
              <a class="file-input btn btn-block btn-default btn-file marg-v-sm" id="fileUpload">
                SELECT WALLET FILE... <input type="file">
              </a>
              <div id="fuploadStatus"></div>
            </div>
            <div class="form-group" id="walletPasdiv" style="display: none;">
              <p> your file is encrypted with a password, enter the password here: </p>
              <input class="form-control" type="password" placeholder="Password" id="walletfilepassword">
            </div>
          </div>
          <!-- /if selected upload -->
          <!-- if selected type key-->
          <div id="selectedTypeKey"  style="display: none;">
            <h4> Paste / type your private key: </h4>
            <div class="form-group">
              <textarea rows="4" class="form-control" placeholder="Private Key" id="manualprivkey"></textarea>
            </div>
            <div class="form-group" style="display: none;" id="divprikeypassword">
              <p> Your file is encrypted with a password, enter the password here: </p>
              <input class="form-control" type="password" placeholder="Password" id="privkeypassword">
            </div>
          </div>
          <!-- /if selected type key-->
        </div>
        <div class="col-md-4 col-sm-6" style="display: none;" id="walletuploadbutton">
          <h4 id="uploadbtntxt-wallet" style="display: none;"> Decrypt your wallet</h4>
          <h4 id="uploadbtntxt-privkey" style="display: none;"> Decrypt your private key </h4>
          <div class="form-group"><a class="btn btn-primary btn-block" id="decryptdata">DECRYPT</a></div>
          <div id="decryptStatus"></div>
        </div>
      </section>
      <section class="row" id="wallettransactions" style="display: none;">
        <hr />
        <div class="col-sm-4">
          <h4> Account Information </h4>
          <div>
            <p> Account Address: <br /> <strong id="accountAddress" style="margin-left: 1em"></strong></p>
            <p> Account Balance: <br />
              <strong class="text-success" id="accountBalance" style="margin-left: 1em"> loading... </strong>
              <br />
              <strong class="text-success" id="accountBalanceUsd" style="margin-left: 1em"> loading... </strong>
              <br />
              <strong class="text-success" id="accountBalanceEur" style="margin-left: 1em"> loading... </strong>
            </p>
            <p> Augur Rep Balance: <br />
              <strong class="text-success" id="augurbalance" style="margin-left: 1em"> loading... </strong>
            </p>
          </div>
          <br />
        </div>
        <div class="col-sm-8">
          <h4>Purchase Augur</h4>
          <div class="form-group col-xs-12">
            <label>
              Amount:
            </label>
            <input class="form-control" type="text" placeholder="Amount" id="sendtxamount">
            <div class="radio">
              <label><input type="radio" name="currencyRadio" checked value="ether">Ether</label>
              <label><input type="radio" name="currencyRadio" value="finney">Finney</label>
              <label><input type="radio" name="currencyRadio" value="szabo">Szabo</label>
              <div id="weiamount"></div>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <a class="btn btn-info btn-block" id="btnpurchaseaugur">PURCHASE AUGUR REP</a>
          </div>
          <div id="txcreatestatus"></div>
          <div class="form-group col-xs-12" style="display: none;" id="divtransactionTAs">
              <label> Raw Transaction </label>
            <textarea class="form-control" rows="4" disabled id="tarawtx"></textarea>
              <label> Signed Transaction </label>
            <textarea class="form-control" rows="4" disabled id="tasignedtx"></textarea>
          </div>
          <div class="form-group col-xs-12" id="divsendtranaction" style="display: none;">
            <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#sendTransaction">SEND TRANSACTION</a>
          </div>
          <div id="txsendstatus"></div>
          <!-- Modal -->
          <div class="modal fade" id="sendTransaction" tabindex="-1" role="dialog" aria-labelledby="sendTransactionLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel"> <strong class="text-danger">Warning!</strong></h3>
                  </div>
                  <div class="modal-body">
                    <h4>
                      You are about to purchase
                      <strong id="confirmAmount" class="text-primary"> 345 </strong>
                      <strong id="confirmCurrancy" class="text-primary"> Ether </strong>
                      worth of Augur.
                    </h4>
                    <h4> Are you <span class="text-underline"> sure </span> you want to do this?</h4>
                  </div>
                  <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, get me out of here!</button>
                    <button type="button" class="btn btn-primary" id="btnapprovesend">Yes, I am sure!</button>
                  </div>
                </div>
              </div>
          </div>
          <!--/modal-->
        </div>
      </section>



</section>

<%= footer %>
