<%= header %>

  <!-- navtabs -->
  <section class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a id="generate-wallet" class="ptabs" showId="paneWalgen"> Generate Wallet   </a></li>
      <li> <a id="bulk-generate" class="ptabs" showId="paneBulkgen">                Bulk Generate     </a></li>
      <li> <a id="view-wallet-info" class="ptabs" showId="paneViewWalletDetails">   View Wallet Details  </a></li>
      <li> <a id="send-transaction" class="ptabs" showId="paneSendTrans">           Send Transaction  </a></li>
      <li> <a id="offline-transaction" class="ptabs" showId="paneOfflineTrans">     Advanced / Offline Transaction</a></li>
      <li> <a href="/digix.html">                                                   Digix Crowdsale    </a></li>
      <li> <a id="help" class="ptabs" showId="paneHelp">                            Help              </a></li>
      <li> <a id="contact" class="ptabs" showId="paneContact">                      Contact           </a></li>
    </ul>
  </section>
  <br />

  <!-- tab panes -->
  <section class="container" style="min-height: 50%">
    <div class="tab-content">

      <%= walletgenerator %>

      <%= bulkgenerator %>

      <%= viewwalletdetails %>

      <%= sendtransaction %>

      <%= offlinetransaction %>

      <%= print %>

      <%= help %>

      <%= contact %>

    </div>
    <!-- /tab panes -->
  </section>

  <%= footer %>
