<aside ng-controller="walletBalanceCtrl">





  <!-- Account Address -->
  <div class="block">
    <h5 translate="sidebar_AccountAddr">Account Address</h5>
    <ul class="account-info">
      <div class="addressIdenticon med float" blockie-address="{{wallet.getAddressString()}}" watch-var="wallet"></div>
      <span class="mono wrap">{{wallet.getChecksumAddressString()}}</span>
      <label class="ens-response" ng-show="showEns()">
        ↳ <span class="mono ng-binding"> {{ensAddress}} </span>
      </label>
    </ul>
    <div ng-show="showDisplayOnTrezor()">
      <h5 translate="sidebar_DisplayOnTrezor">Display address on TREZOR</h5>
      <ul class="account-info">
        <li><a href="" ng-click="displayOnTrezor()" translate="sidebar_DisplayOnTrezor">Display address on TREZOR</a></li>
      </ul>
    </div>
    <div ng-show="showDisplayOnLedger()">
      <h5 translate="sidebar_DisplayOnLedger">Display address on Ledger</h5>
      <ul class="account-info">
        <li><a href="" ng-click="displayOnLedger()" translate="sidebar_DisplayOnLedger">Display address on Ledger</a></li>
      </ul>
    </div>
    <h5 translate="sidebar_AccountBal">Account Balance</h5>
    <ul class="account-info point">
      <li>
        <span class="mono wrap">{{wallet.balance}}</span> {{ajaxReq.type}}
      </li>
    </ul>
    <h5 translate="sidebar_TransHistory"> Transaction History</h5>
    <ul class="account-info">
      <li ng-show="ajaxReq.type != 'CUS'">
        <a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}" target="_blank" rel="noopener noreferrer">
          {{ajaxReq.type}} ({{ajaxReq.blockExplorerTX.match('://(.*?)/')[1]}})
        </a>
      </li>
      <li ng-show="ajaxReq.type == 'ETH'">
        <a href="https://ethplorer.io/address/{{wallet.getAddressString()}}" target="_blank" rel="noopener noreferrer">
          Tokens (Ethplorer.io)
        </a>
      </li>
    </ul>
  </div>






  <!-- Slider Thingy -->
  <!-- Hardware Wallets -->
  <a href="https://kb.myetherwallet.com/getting-started/protecting-yourself-and-your-funds.html"
     ng-show="slide==1 || ajaxReq.type!=='ETH'"
     class="block swap--hw"
     target="_blank" rel="noopener noreferrer">
    <div class="col-sm-7">

      <h5 class="swap__cta" ng-show="wallet.balance<=1">Learn more about protecting your funds.</h5>

      <p class="swap__subhead" ng-show="wallet.balance<50 && wallet.balance>1">Welcome back</h5>
      <h5 class="swap__cta" ng-show="wallet.balance<50 && wallet.balance>1">Are you as secure as you can be?</h5>

      <p class="swap__subhead" ng-show="wallet.balance>=50">Holy cow, look at you go!</p>
      <h5 class="swap__cta" ng-show="wallet.balance>=50">Time to beef up your security?</h5>
    </div>
    <div class="col-sm-5">
      <img src="images/logo-ledger.svg" width="80" height="auto" class="swap__logo">
      <br />
      <img src="images/logo-trezor.svg" width="80" height="auto" class="swap__logo">
    </div>
  </a>

  <!-- Bity -->
  <a ng-click="globalService.currentTab=globalService.tabs.swap.id"
     ng-show="ajaxReq.type=='ETH' && slide==2"
     class="block swap--btc"
     target="_blank" rel="noopener noreferrer">
    <div class="col-sm-7">
      <p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH.</p>
      <p class="swap__subhead" ng-show="wallet.balance>0&&wallet.balance<50">It's now easier to get more ETH</p>
      <p class="swap__subhead" ng-show="wallet.balance>50">It's now easier to move between ETH &amp; BTC</p>
      <h5 class="swap__cta">Swap BTC <-> ETH</h5>
    </div>
    <div class="col-sm-5">
      <img src="images/logo-bity-white.svg" width="60" height="auto" class="swap__logo">
      <p class="swap-flag--price">1 ETH ≈ <br /> {{wallet.btcPrice}} BTC</p>
    </div>
  </a>

  <!-- Coinbase
  <a href="#"
     ng-show="ajaxReq.type=='ETH' && slide==2"
     class="block swap--usd"
     target="_blank" rel="noopener noreferrer">
    <div class="col-sm-7">
      <p class="swap__subhead" ng-show="wallet.balance<=0">Aw...you don't have any ETH</p>
      <p class="swap__subhead" ng-show="wallet.balance>0">It's now easier to get more ETH</p>
      <h5 class="swap__cta">Buy ETH with USD</h5>
    </div>
    <div class="col-sm-5">
      <img src="images/logo-coinbase.svg" width="64" height="auto" class="swap__logo">
      <p class="swap-flag--price">1 ETH ≈ <br /> {{wallet.usdPrice}} USD</p>
    </div>
  </a>
  -->

  <div class="swap__nav" ng-show="ajaxReq.type=='ETH'">
    <a ng-click="slide=1"> &bull; </a>
    <a ng-click="slide=2"> &bull; </a>
  </div>




  <!-- Token Balances -->
  <div class="block token-balances">
    <h5 translate="sidebar_TokenBal">Token Balances</h5>

    <!-- Load Token Balances
    <a class="btn btn-warning btn-xs"
       ng-click="wallet.setTokens(); globalService.tokensLoaded=true"
       ng-hide="globalService.tokensLoaded">
      <img src="images/icon-load-tokens.svg" style="height: 1em; width: auto; margin-right: 5px;" />
      Load Tokens
    </a>
     -->

    <!-- you can your Balance on Blockchain Explorer -->


    <h5 class="u__protip">
      <a href="https://kb.myetherwallet.com/send/adding-new-token-and-sending-custom-tokens.html"
         rel="noopener noreferrer"
         target="_blank">
         How to See Your Tokens
      </a>
    </h5>

    <p>
      You can also view your Balances on
      <a ng-show="ajaxReq.type != 'CUS'"
         href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}"
         target="_blank"
         rel="noopener noreferrer">
          {{ajaxReq.blockExplorerTX.match('://(.*?)/')[1]}}
      </a>
      <span ng-show="ajaxReq.type == 'ETH'"> or
        <a href="https://ethplorer.io/address/{{wallet.getAddressString()}}"
           target="_blank"
           rel="noopener noreferrer">
             ethplorer.io
        </a>
      </span>
    </p>

    <!-- Buttons -->
    <a class="btn btn-warning btn-xs" ng-click="showAllTokens=true" ng-show="showAllTokens==false">
      Show All Tokens
    </a>
    <a class="btn btn-warning btn-xs" ng-click="showAllTokens=false" ng-show="showAllTokens==true">
      Only Show Balances
    </a>
    <a class="btn btn-default btn-xs" ng-click="customTokenField=!customTokenField">
      <span translate="SEND_custom">Add Custom Token</span>
    </a>

    <br ng-show="customTokenField" />

    <!-- Add Custom Token -->
    <div class="custom-token-fields" ng-show="customTokenField">
      <div class="row">
        <address-field
          placeholder="{{ ajaxReq.type=='ETH' ? 'mewtopia.eth' : '0xDECAF9CD2367cdbb726E904cD6397eDFcAe6068D' }}"
          var-name="localToken.contractAdd"
          labelTranslated="TOKEN_Addr">
        </address-field>
      </div>

      <label translate="TOKEN_Symbol"> Token Symbol: </label>
      <input class="form-control input-sm"
             type="text"
             ng-model="localToken.symbol"
             ng-class="localToken.symbol!='' ? 'is-valid' : 'is-invalid'" />

      <label translate="TOKEN_Dec"> Decimals: </label>
      <input class="form-control input-sm"
             type="text"
             ng-model="localToken.decimals"
             ng-class="Validator.isPositiveNumber(localToken.decimals) ? 'is-valid' : 'is-invalid'" />

      <button class="btn btn-primary btn-xs" ng-click="saveTokenToLocal()" translate="x_Save">Save</button>
    </div>

    <br />
    <br />

    <!-- Balances -->
    <table class="account-info">
      <tr ng-class="token.type!=='default' ? 'custom-token' : ''"
          ng-repeat="token in wallet.tokenObjs track by $index"
          ng-hide="(token.balance==0 || token.balance=='Click to Load') && showAllTokens==false">
        <td class="mono wrap point">
          <img src="images/icon-remove.svg"
               class="token-remove"
               title="Remove Token"
               ng-click="removeTokenFromLocal(token.symbol)"
               ng-show="token.type!=='default'" />
          <span ng-click="setAndVerifyBalance(token)">
            {{ token.getBalance() }}
          </span>
        </td>
        <td>
          {{ token.getSymbol() }}
        </td>
      </tr>
    </table>

  </div>



  <!-- Equivalent Balances -->
  <div class="block" ng-show="ajaxReq.type=='ETH'">
    <h5 translate="sidebar_Equiv">Equivalent Values:</h5>
    <div class="row">
      <ul class="account-info col-xs-6">
        <li>BTC: <span class="mono wrap">{{wallet.btcBalance | number}}</span></li>
        <li>USD: <span class="mono wrap">{{wallet.usdBalance | currency:"$"}}</span></li>
        <li>CHF: <span class="mono wrap">{{wallet.chfBalance | currency:" "}}</span></li>
      </ul>
      <ul class="account-info col-xs-6">
        <li>REP: <span class="mono wrap">{{wallet.repBalance | number}}</span></li>
        <li>EUR: <span class="mono wrap">{{wallet.eurBalance | currency:"€"}}</span></li>
        <li>GBP: <span class="mono wrap">{{wallet.gbpBalance | currency:"£"}}</span></li>
      </ul>
    </div>
    <p><small> These are only the equivalent values for ETH, not tokens. Sorry! </small></p>
  </div>

</aside>
