<aside ng-controller='walletBalanceCtrl'>
  <h5 translate="sidebar_AccountAddr">Account Address:</h5>
  <ul class="account-info">
    <div class="addressIdenticon med float" title="Address Indenticon" blockie-address="{{wallet.getAddressString()}}" watch-var="wallet"></div>
    <span class="mono wrap">{{wallet.getChecksumAddressString()}}</span>
  </ul>
  <hr />
  <h5 translate="sidebar_AccountBal">Account Balance:</h5>
  <ul class="account-info point" ng-dblclick="showLongBal=!showLongBal" title="{{wallet.balance}} (Double-Click)"><li>
    <span class="mono wrap" ng-show="!showLongBal">{{wallet.balance | number}}</span>
    <span class="mono wrap" ng-show="showLongBal">{{wallet.balance}}</span>
    {{ajaxReq.type}}
  </li></ul>
  <section class="token-balances">
    <h5 translate="sidebar_TokenBal">Token Balances:</h5>
    <table class="account-info">
      <tr ng-repeat="token in wallet.tokenObjs track by $index" ng-show="token.balance!=0 && token.balance!='loading' || token.type!=='default' || tokenVisibility=='shown'">
        <td class="mono wrap point" title="{{token.getBalance()}} (Double-Click)" ng-dblclick="showLongToken=!showLongToken">
          <img src="images/icon-remove.svg" class="token-remove" title="Remove Token" ng-click="removeTokenFromLocal(token.symbol)" ng-show="token.type!=='default'" />
          <span ng-show="!showLongToken">{{token.getBalance() | number}}</span>
          <span ng-show="showLongToken">{{token.getBalance() }}</span>
        </td>
        <td>{{token.getSymbol()}} </td>
      </tr>
    </table>
    <a class="btn btn-default btn-sm" ng-click="tokenVisibility='shown'" ng-show="tokenVisibility=='hidden'">Show All Tokens</a>
    <a class="btn btn-default btn-sm" ng-click="tokenVisibility='hidden'" ng-show="tokenVisibility=='shown'">Hide Tokens</a>
    <a class="btn btn-default btn-sm" ng-click="customTokenField=!customTokenField"><span translate="SEND_custom"translate="SEND_custom">Add Custom Token</span></a>
    <div class="custom-token-fields" ng-show="customTokenField">
      <label translate="TOKEN_Addr">Address:</label>
      <input class="form-control input-sm" type="text" ng-model="localToken.contractAdd" ng-class="Validator.isValidAddress(localToken.contractAdd) ? 'is-valid' : 'is-invalid'" />
      <label translate="TOKEN_Symbol">Token Symbol:</label>
      <input class="form-control input-sm" type="text" ng-model="localToken.symbol" ng-class="localToken.symbol!='' ? 'is-valid' : 'is-invalid'" />
      <label translate="TOKEN_Dec"> Decimals:</label>
      <input class="form-control input-sm" type="text" ng-model="localToken.decimals" ng-class="Validator.isPositiveNumber(localToken.decimals) ? 'is-valid' : 'is-invalid'" />
      <div class="btn btn-primary btn-sm" ng-click="saveTokenToLocal()" translate="x_Save">Save</div>
      <div ng-bind-html="validateLocalToken"></div>
    </div>
  </section>
  <hr />
  <h5 translate="sidebar_TransHistory"> Transaction History: </h5>
  <ul class="account-info">
    <li ng-show="ajaxReq.type != 'CUS'">
      <a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}" target="_blank">
        {{ajaxReq.type}} ({{ajaxReq.blockExplorerTX.replace('/tx/[[txHash]]', '')}})
      </a>
    </li>
    <li>
      <a href="https://ethplorer.io/address/{{wallet.getAddressString()}}" target="_blank"> Tokens (Ethplorer.io) </a>
    </li>
  </ul>
  <hr />
  <section ng-show="ajaxReq.type=='ETH'">
    <h5 translate="sidebar_Equiv">Equivalent Values:</h5>
    <ul class="account-info">
      <li><span class="mono wrap">{{wallet.btcBalance | number}}</span> BTC</li>
      <li><span class="mono wrap">{{wallet.repBalance | number}}</span> REP</li>
      <li><span class="mono wrap">{{wallet.eurBalance | currency:"€"}}</span> EUR</li>
      <li><span class="mono wrap">{{wallet.usdBalance | currency:"$"}}</span> USD</li>
      <li><span class="mono wrap">{{wallet.gbpBalance | currency:"£"}}</span> GBP</li>
      <li><span class="mono wrap">{{wallet.chfBalance | currency:" "}}</span> CHF</li>
    </ul>
    <a target="_blank" ng-click="globalService.currentTab=globalService.tabs.swap.id" class="btn btn-primary btn-sm">Swap via Bity</a>
  </section>
</aside>
