<article class="block decrypt-drtv clearfix" ng-controller='decryptWalletCtrl as $crtl'>

  <!-- Column 1 - Select Type of Key -->
  <section class="col-md-4 col-sm-6">

    <h4 translate="decrypt_Access">
      How would you like to access your wallet?
    </h4>

    <label
      class="radio"><!-- todo re-add aria-flowto="aria10" property -->
      <input type="radio"
             aria-label="MEW Connect"
             ng-model="walletType"
             value="mewConnect"/>
                    <!--ng-change="mewConnectInitialUiState()"-->
      <span><!-- todo re-add translation property -->
        MEWconnect <small>BETA</small>
      </span>
    </label>
  </section>
  <!-- / Column 1 - Select Type of Key -->


  <!-- Column 2 - Unlock That Key -->
  <section class="col-md-8 col-sm-6">


    <!--  Mew Connect -->
    <!-------------------------------  Mew Connect (Start) ------------------------------------------>
    <!-- Based Off MetaMask Code (above)-->
    <div id="selectedTypeMewConnect"
         ng-if="walletType=='mewConnect'">
      <h4> <!-- todo re-add translation property -->
           MEWconnect <small>BETA</small>
      </h4>
      <div ng-if="!canUseMewConnect">
        MEWconnect does note support your browser. <br/> Please use a supported browser (<a href="http://chrome.google.com/">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://www.opera.com/">Opera</a>, Safari (version 11 and above))
      </div>
      <div ng-if="canUseMewConnect">
              <ul>
                <li class="u__protip">
                  <!-- Todo add path  -->
                  <a href="https://mewconnect.myetherwallet.com/userguide"
                     target="_blank"
                     rel="noopener noreferrer">
                    How to use Mew Connect with MyEtherWallet
                  </a>
                </li>
                <li class="u__protip">
                  <!-- Todo add path  -->
                  <span> Don't have MEWconnect? <br/> Email us at: <a href="mailto:mewconnectBeta@myetherwallet.com?subject=MEWconnect iOS beta test request">mewconnectBeta@MyEtherWallet.com</a></span>
                </li>
              </ul>
        <div class="form-group"
             ng-hide="isSSL">
        <span class="text-danger"> <!-- todo re-add translation property -->
            MEWconnect only works on a secure (SSL / HTTPS) connection.
        </span>
        </div>
        <div class="form-group" ng-show="(!mewConnectionStatus || mewConnectionStatus == 3) && canUseMewConnect">
          <!-- todo re-add translation  and id properties -->
          <a class="btn btn-primary"
             ng-click="scanMewConnect()"
             ng-show="walletType=='mewConnect'"
             tabindex="0" role="button">
            Connect to MEWconnect
          </a>
        </div>
        <div class="form-group" ng-show="(mewConnectionStatus == 2) && canUseMewConnect">
          <!-- todo re-add translation  and id properties -->
          <a class="btn btn-primary"
             ng-click="mewConnectDisconnect()"
             ng-show="walletType=='mewConnect'"
             tabindex="0" role="button">
            Disconnect from MEWconnect
          </a>
        </div>
        <div class="form-group" >
          <!-- todo re-add translation  and id properties -->
          <h4 ng-show="!mewConnectionStatus && canUseMewConnect">Not Connected</h4>
          <h4 ng-show="mewConnectionStatus == 1">Preparing Connection</h4>
          <h4 ng-show="mewConnectionStatus == 2">Connected</h4>
          <h4 ng-show="!canUseMewConnect">Mew Connect is not compatible with this browser [please try Chrome or see LINK for supported browsers]</h4>
          <h4 ng-show="mewConnectionStatus == 3">Timed Out</h4>

        </div>
        <div ng-if="mewConnectionStatus == 1">
          <div qr-code="{{mewConnectCode}}" watch-var="mewConnectCode" style="width: 200px; height: 200px"></div>
        </div>
      </div>


    </div>
    <!-------------------------------  Mew Connect (End) ------------------------------------------>
    <!-- / Mew Connect -->



  </section>
  <!-- / Column 2 - Unlock That Key -->


  <!-- MODAL -->
  <article class="modal fade" id="mnemonicModel" tabindex="-1" role="dialog" aria-labelledby="Mnemonic Phrase Modal">
  </article>

</article>
